* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* a:focus-visible {
  outline: 3px solid green;
} */

a:hover {
  color: #7943a4;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1660px;
  padding: 0 30px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* h-top */

.header__top {
  height: 100px;
  background-color: #000;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

.header__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.header__signin {
  display: flex;
  align-items: center;
}

.header__signin-icon {
  background: url("../img/Vector.svg") center no-repeat transparent;
  background-size: cover;
  width: 13px;
  height: 13px;
}

.header__signin-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: white;
  margin-left: 7px;
}

/* h-bottom */

.header__bottom {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1350px) {
  .header__bottom {
    display: none;
  }
}

.header__container {
  display: flex;
}

.hero__nav-list {
  display: flex;
}

.hero__nav {
  display: flex;
  justify-content: space-between;
}

.hero__nav-item:not(:last-child) {
  margin-right: 96px;
}

.hero__nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}

.hero__search {
  display: flex;
  align-items: center;
}

.hero__search-label {
  margin-left: 9px;
  position: relative;
}

.hero__search-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.hero__search-label::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #fff;
  width: 218px;
  bottom: 0px;
  left: 3px;
}

.hero__search-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
}

.hero__search-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  position: relative;
  margin-left: 9px;
}

.hero__search-desc::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #fff;
  width: 218px;
  bottom: 0;
}

.hero__search-icon {
  background: url("../img/search.svg") center no-repeat transparent;
  background-size: cover;
  width: 22px;
  height: 22px;
}

:root {
  --header: #9d5cd0;
  --two: #7943a4;
  --outline: 2px solid var(--header);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__item {
  position: relative;
  color: gray;
  height: 70px;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.header__item-btn:hover,
.header__item-btn:focus {
  color: var(--header);
}

.header__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}

.header__item-btn.is-active {
  color: #9d5cd0;
}

.header__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__item-btn:active {
  color: var(--two);
}

.header__dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__dropdown-wrap {
  width: 240px;
  height: 220px;
}

.header__dropdown.is-active {
  position: absolute;
}

.header__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__drop-list {
  list-style: none;
  padding-left: 0;
}

.header__dropdown-item {
  width: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-link {
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  /* background-color: #000; */
  transition: border-color 0.3s ease;
}

.header__item-tintoretto {
  background: url("../img/dd1.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__item-fridrih {
  background: url("../img/dd2.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__item-leo {
  background: url("../img/dd3.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__item-verokko {
  background: url("../img/dd4.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-mone {
  background: url("../img/dd5.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-sisle {
  background: url("../img/dd6.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-mane {
  background: url("../img/dd7.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-renuar {
  background: url("../img/dd8.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-vangog {
  background: url("../img/dd9.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-sezan {
  background: url("../img/dd10.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-gogen {
  background: url("../img/dd11.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-sera {
  background: url("../img/dd12.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-kandinsk {
  background: url("../img/dd13.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-marin {
  background: url("../img/dd14.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-malevich {
  background: url("../img/dd15.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-pika {
  background: url("../img/dd16.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-kapap {
  background: url("../img/dd17.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-pratell {
  background: url("../img/dd18.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-severin {
  background: url("../img/dd19.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-balla {
  background: url("../img/dd20.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__link-link:hover {
  border-color: #9d5cd0;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* hero */

.section-hero {
  padding: 233px 0 122px;
  position: relative;
}

@keyframes hero {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.hero__fade-container {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background: url("../img/birmingham1.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero__fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  animation: hero 39s linear infinite -1s;
  opacity: 0;
}

.hero__fade-slide:nth-child(1) {
  background: url("../img/birmingham1.jpg") center no-repeat;
  background-size: cover;
}

.hero__fade-slide:nth-child(2) {
  background: url("../img/birmingham2.jpg") center no-repeat;
  background-size: cover;
  animation-delay: 6s;
}
.hero__fade-slide:nth-child(3) {
  background: url("../img/birmingham3.jpg") center no-repeat;
  background-size: cover;
  animation-delay: 12s;
}

.hero__fade-slide:nth-child(4) {
  background: url("../img/birmingham1.jpg") center no-repeat;
  background-size: cover;
  animation-delay: 18s;
}

.hero__fade-slide:nth-child(5) {
  background: url("../img/birmingham2.jpg") center no-repeat;
  background-size: cover;
  animation-delay: 24s;
}
.hero__fade-slide:nth-child(6) {
  background: url("../img/birmingham3.jpg") center no-repeat;
  background-size: cover;
  animation-delay: 30s;
}

.hero__content {
  max-width: 600px;
}

.hero__heading {
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: #fff;
  margin-bottom: 18px;
}

.hero__description {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 92px;
}

.hero__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 22.5px 35px;
  border-radius: 100px;
  border: none;
  background-color: #9d5cd0;
  color: #fff;
}

.blanchard__heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #fff;
}

/* about */

.about__content {
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 1080px;
}

.about__heading {
  margin-bottom: 30px;
  color: #333;
}

.about__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

/* gallery */

.section-gallery {
  background: url("../img/gallery.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0px;
  overflow: hidden;
}

.gallery__content {
  display: flex;
  justify-content: space-between;
}

.gallery__content-left {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 25%;
}

.gallery__content-left__up {
  display: flex;
  flex-direction: column;
}

.gallery__heading {
  margin-bottom: 15px;
}

.gallery__filtr {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

/* .choices {

} */

.choices__inner {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
}

.choices__placeholder {
  color: #fff;
  opacity: 1;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.gallery__content-left__down {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  width: 400px;
  color: #fff;
}

.gallery__content-right {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  width: 72%;
}

.gallery-btns {
  display: flex;
  width: max-content;
  align-items: center;
}

.gallery-pagination {
  color: #fff;
  font-size: 16px;
  line-height: 32px;
}

.gallery-btns {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.gallery-button-prev,
.gallery-button-next {
  width: max-content;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gallery-button-prev {
  margin-right: 17px;
}

.gallery-button-prev:hover svg path,
.gallery-button-next:hover svg path {
  fill: #9d5cd0;
}

.gallery-button-prev:active svg,
.gallery-button-next:active svg,
.gallery-button-prev:focus-visible svg,
.gallery-button-next:focus-visible svg {
  border: 2px solid #000;
  border-radius: 100%;
}

.gallery-button-prev.swiper-button-disabled:hover svg path,
.gallery-button-next.swiper-button-disabled:hover svg path {
  fill: #666;
  cursor: auto;
  border: none;
}

.gallery-button-next {
  margin-left: 17px;
}

.gallery__swiper {
  height: 800px;
  /* max-width: 1200px; */
  width: 100%;
}

.gallery-swiper__wrapper {
  max-width: 1200px;
}

/* .gallery__swiper  */
.gallery-swiper__slide {
  /* height: calc((100%-50px) / 2) !important; */
  /* height: 400px !important;   */
  overflow: hidden;
  width: 29.2% !important;
  height: 350px !important;
}

.gallery-swiper__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-swiper__image {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gallery-swiper__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/Ховер\ \(галерея\).png") center no-repeat;
  background-size: cover;
  width: 86%;
  height: 86%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.gallery-swiper__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(194, 131, 243, 0.4),
    rgba(194, 131, 243, 0.4)
  );
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-swiper__image:hover:before {
  opacity: 1;
}

.gallery-swiper__image:active:after {
  opacity: 1;
}

/* catalog */

.catalog__container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.catalog__country {
  display: flex;
  align-items: center;
}

.catalog__heading {
  margin-right: 39px;
  color: #000;
}

.catalog__contry-list {
  display: flex;
  align-items: center;
}

.fr {
  background: url("../img/fr.png") center no-repeat;
}

.ger {
  background: url("../img/ger.png") center no-repeat;
}

.it {
  background: url("../img/it.png") center no-repeat;
}

.Rus {
  background: url("../img/Rus.png") center no-repeat;
}

.bel {
  background: url("../img/bel.png") center no-repeat;
}

.catalog__contry-item {
  background-size: cover;
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  display: block;
}

.catalog__contry-items:not(:last-child) {
  margin-right: 50px;
}

.catalog__contry-item:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  background: url("../img/Ellipse\ 14.png") center no-repeat;
  background-size: cover;
  width: 68px;
  height: 68px;
  transform: scale(0);
}

.is-active.catalog__contry-item:before {
  transform: scale(1);
}

.catalog__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
  max-width: 1080px;
  margin-top: 23px;
}

.catalog__story {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.catalog__story-country {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 47%;
}

.catalog__story-countrys {
  display: none;
}

.catalog__story-information {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.catalog__story-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  display: block;
  margin-bottom: 15px;
}

.catalog__story-data {
  display: block;
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
}

.catalog__story-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
  max-width: 750px;
  margin-bottom: 15px;
}

.catalog__story-datalist {
  width: 50%;
}

.catalog__story-list {
  display: none;
}

.catalog__story-list-active {
  display: block;
}

.ui-accordion .ui-accordion-header {
  margin: -1px;
  padding: 41px 0;
  font-size: 24px;
}

.catalog__story-item-data {
  line-height: 32px;
}

.ui-accordion-header-icon {
  display: none;
}

/* .ui-accordion {
  border-top: 1px solid #CACACA;
}

.ui-accordion:hover {
  border-top: 1px solid #7943A4;
} */

.ui-state-default {
  background: none;
  border: none;
  /* border-top: 1px solid #CACACA; */
  color: #333;
}

/* .ui-state-default:last-child {
  border-bottom: 1px solid #CACACA;
}

.ui-state-default:hover {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
} */

.catalog__story-item {
  border-top: 1px solid #cacaca;
  position: relative;
}

.catalog__story-item-data::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog__story-item-data::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/Strekla.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  top: 32px;
  right: 0px;
  transition: background-image 0.8s ease-in-out;
}

/* ! От item нельзя сделать в аккордионе aria-expended ! */

/* .catalog__story-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
  right: 0;
  top: 32px;
}

.catalog__story-item::after {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/Strelka\ .svg") center no-repeat;
  background-size: cover;
  width: 17px;
  height: 11px;
  top: 53px;
  right: 18px;
  transition: background-image 0.8s ease-in-out;
} */

/* ! */

.catalog__story-item-data::after {
  transform: rotate(0deg);
  transition-property: background-image, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.catalog__story-item-data[aria-expanded="false"]::after {
  transform: rotate(-180deg);
  transition-property: background-image, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.catalog__story-item:last-child {
  border-bottom: 1px solid #cacaca;
}

.catalog__story-item:hover {
  border-top: 1px solid #7943a4;
  border-bottom: 1px solid #7943a4;
}

.catalog__story-item:hover + .catalog__story-item {
  border-top: none;
}

.ui-state-active {
  border-top: 1px solid #7943a4;
  border-bottom: 1px solid #7943a4;
  color: #7943a4;
}

.ui-corner-all {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-top {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.catalog__story-list {
  width: 100%;
}

.catalog__story-item-namelist {
  display: flex;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0;
  overflow: hidden;
}

.catalog__story-item-namelist1 {
  display: flex;
}

.catalog__story-item-nameitem {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.catalog__story-item-nameitem:not(:last-child) {
  margin-right: 60px;
}

.catalog__story-item-names {
  font-size: 16px;
  font-weight: 400;
  line-height: 32;
  cursor: pointer;
}

.catalog__story-item-names {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: left;
}

.catalog__story-item-names:hover {
  color: #7943a4;
}

.catalog__story-item-boxlist {
  display: flex;
}

.catalog__story-item-boxlist-right {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  margin-top: 66px;
  margin-left: 36px;
}

.catalog__story-item-box {
  display: block;
  background-color: #b7b7b7;
  width: 251px;
  height: 165px;
  position: relative;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 16px;
}

.catalog__story-item-box::before {
  content: "";
  display: block;
  border: 2px solid #b7b7b7;
  width: 275px;
  height: 189px;
  position: absolute;
  bottom: -14px;
  right: -14px;
}

.catalog__story-item-into {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333;
  margin-bottom: 5px;
}

.catalog__story-item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
}

.catalog__story-item-deslink {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #9d5cd0 !important;
}

.ui-widget-content {
  border: none;
}

.catalog__story-countrys-active {
  display: block;
}

.catalog__story-item-purple {
  color: #7943a4;
}

/* dev */

.dev-container {
  margin-bottom: 80px;
}

.dev__header {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333;
  margin-bottom: 30px;
}

.dev__cards {
  /* Либо флекс либо грида */
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 50px;
}

@media (max-width:1024px) {
  .dev__cards {
    grid-template-columns: repeat(2,2fr);
  }
}

.dev__cards-item {
  display: flex;
  flex-direction: column;
}

/* .dev__cards-item:not(:last-child) {
  margin-right: 50px;
  margin-bottom: 50px;
}

.dev__cards-item:nth-child(3n) {
  margin-right: 0;
} */

.hidden {
  display: none;
}

.card-active {
  display: block;
}

.dev__card-img {
  display: block;
  width: 500px;
  height: 300px;
}

.dev__card-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 13px 19px 44px 50px;
  min-height: 400px;
}

.dev__card-names {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.dev__card-name {
  text-align: right;
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.dev__card-header {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  max-width: 420px;
}

.dev__card-description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
  /* margin-bottom: 82px; */
  max-width: 420px;
}

.dev__card-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #9d5cd0;
  position: relative;
}

.dev__card-link::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 86px;
  background-color: #9d5cd0;
  top: 29px;
  left: 0;
}

.dev__btn {
  display: block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #9d5cd0;
  padding: 17px 35px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  cursor: pointer;
}

.btn2 {
  display: none;
}

.btn-active {
  display: block;
}

.btn-disabled {
  display: none;
}

/* izdan */

.section-izdan {
  background: url("../img/izdaniya.jpg") top center no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 80px;
  overflow: hidden;
}

.izdan-container {
  display: flex;
  justify-content: space-between;
}

.izdan__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 285px;
}

.izdan__header {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}

.izdan__item-category {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 9px;
}

.izdan__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.izdan__item-label {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-left: 24px;
}

.izdan__item-label::before,
.izdan__item-label::after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.izdan__item-label::before {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  top: 4px;
}

.izdan__item-label::after {
  background-color: #c283f3;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  top: 9px;
  left: 5px;
  opacity: 0;
}

.izdan__item-checkbox:checked + .izdan__item-label::after {
  opacity: 1;
}

.izdan__item-checkbox:checked + .izdan__item-label::before {
  border: 1px solid #c283f3;
}

.izdan__item-checkbox {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.izdan__right {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.izdan__item-price {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.izdan__scale {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 277px;
  border-radius: 6px;
}

.izdan__scale-fbp {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
}

.izdan__scale-fbp:first-child {
  margin-left: 10px;
}

.izdan__scale-infrom {
  margin-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  background: rgba(157, 92, 208, 0.5);
  width: 73px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(157, 92, 208, 0.5);
}

.izdan__scale-infrom:hover,
.izdan__scale-infrom:active,
.izdan__scale-infrom:focus-visible {
  background-color: #9d5cd0;
  border-color: #fff;
  outline: 0;
  outline-offset: 0;
}

.izdan__scale-infrom::placeholder {
  color: #fff;
}

.izdan__scale-infrom::-webkit-outer-spin-button,
.izdan__scale-infrom::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.izdan-swiper {
  width: 100%;
  /* height: 300px; */
}

/* .izdan-swiper__wrapper {
  height: 600px;
} */

.izdan-btns {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.izdan-button-prev,
.izdan-button-next {
  width: max-content;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.izdan-button-prev {
  margin-right: 17px;
}

.izdan-button-prev:hover svg path,
.izdan-button-next:hover svg path {
  fill: #9d5cd0;
}

.izdan-button-prev:active svg,
.izdan-button-next:active svg,
.izdan-button-prev:focus-visible svg,
.izdan-button-next:focus-visible svg {
  border: 2px solid #000;
  border-radius: 100%;
}

.izdan-button-prev.swiper-button-disabled:hover svg path,
.izdan-button-next.swiper-button-disabled:hover svg path {
  fill: #666;
  cursor: auto;
  border: none;
}

.izdan-button-next {
  margin-left: 17px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-button-disabled:active svg {
  border: none;
}

.izdan-pagination {
  width: max-content;
  color: #fff;
}

.izdan-swiper__slide {
  max-width: 350px;
}

.izdan-swiper__slide:not(:last-child) {
  margin-right: 50px;
}

.izdan-swiper__img img {
  max-width: 100%;
}

.izdan-swiper__img {
  margin-bottom: 23px;
}

.izdan-swiper__title {
  /* точки при нехватке текста */
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: nowrap;
  width: 230px;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 22px;
}

.izdan-swiper__title span {
  display: inline-block;
  font-weight: 400;
  margin-top: 2px;
}

.izdan-swiper__desc-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.izdan-swiper__price {
  font-style: italic;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
}

.izdan-swiper__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  padding: 8px 14px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  width: 120px;
  height: 40px;
}

/* projects */

.projects {
  margin-bottom: 80px;
}

.projects__friends {
  display: flex;
  align-items: center;
}

.projects__header {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  margin-bottom: 30px;
}

.projects__description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  max-width: 1080px;
  margin-bottom: 30px;
}

.projects__description a {
  color: #9d5cd0;
}

.projects__description-tabintool {
  position: relative;
}

.projects__description-tooltip {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/i\ -\ Тултип.svg") center no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.projects__description-tooltip:hover {
  background: url("../img/i\ -\ Тултипfa.svg") center no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.projects__description-tooldes,
.projects__description-tooldes1,
.projects__description-tooldes2 {
  position: absolute;
  width: max-content;
  max-width: 264px;
  padding: 8px 11px;
  background-color: #9d5cd0;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
  z-index: 2;
}

.projects__description-tooltip:focus {
  background: url("../img/i\ -\ Тултипf.svg") center no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  outline: none;
}

.projects__description-tooldes {
  top: -60px;
}

.projects__description-tooldes1 {
  top: -76px;
}

.projects__description-tooldes2 {
  top: -44px;
}

.projects__description-tooldes::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #9d5cd0;
  transform: translateX(515%);
  top: 47px;
  z-index: 10;
}

.projects__description-tooldes1::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #9d5cd0;
  transform: translateX(515%);
  top: 64px;
  z-index: 10;
}

.projects__description-tooldes2::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #9d5cd0;
  transform: translateX(426%);
  top: 32px;
  z-index: 10;
}

.projects__description-tooltip:hover + .projects__description-tooldess,
.projects__description-tooltip:focus + .projects__description-tooldess {
  opacity: 1;
}

.projects__frheader {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 23px;
}

.projects-swiper__wrapper {
  display: flex;
}

.projects-button-prev {
  margin-right: 42px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.projects-button-next {
  margin-left: 42px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.projects-button-prev:hover svg path,
.projects-button-next:hover svg path {
  fill: #d1a9f0;
}

.projects-button-prev:active svg,
.projects-button-next:active svg,
.projects-button-prev:focus-visible svg,
.projects-button-next:focus-visible svg {
  border: 2px solid #9d5cd0;
  border-radius: 100%;
}

.swiper-button-disabled.projects-button-prev:active svg,
.swiper-button-disabled.projects-button-next:active svg {
  border: none;
}

.projects-button-prev.swiper-button-disabled:hover svg path,
.projects-button-next.swiper-button-disabled:hover svg path {
  fill: #ececec;
  cursor: auto;
  border: none;
}

.projects-swiper__slide:not(:last-child) {
  margin-right: 50px;
}

.projects-swiper__slide {
  width: 450px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
}

.projects-swiper__slide img {
  filter: grayscale(1);
  opacity: 0.3;
  transition: filter, opacity 0.4s ease-in-out;
}

.projects-swiper__slide:hover img {
  filter: grayscale(0);
  opacity: 1;
}

/* contacts */

.contacts__container {
  padding-right: 0;
  max-width: 1770px;
  margin: 0 0 0 auto;
}

.contacts__header {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333;
  margin-bottom: 30px;
}

.contacts__top {
  display: flex;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  /* padding: 124px 0; */ /*было*/
  padding: 8.5% 11% 8.5% 0;
  width: 36.3%;
  position: relative;
}

.contacts__left::before {
  /* content: "";
  position: absolute;
  top: 0;
  left: -53%;
  width: 700px;
  height: 100%;
  border: 1px solid #cacaca;
  border-bottom: none;
  z-index: -1; */ /*было*/
  content: "";
  position: absolute;
  top: 0;
  left: -53%;
  width: 170%;
  height: 100%;
  border: 1px solid #cacaca;
  z-index: -1;
}

.contacts__showroom {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 27px;
}

.contacts__showroom span {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
}

.contacts-left__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 19px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.contacts-form__input {
  color: #999999;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  border: 1px solid black;
  background-color: transparent;
  padding: 4px 0 4px 24px;
  width: 400px;
  border-radius: 100px;
}

.contacts-form__btn {
  border: 2px solid #9d5cd0;
  background-color: transparent;
  padding: 15px 0;
  border-radius: 100px;
  color: #9d5cd0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  width: 157px;
  cursor: pointer;
  margin-top: 23px;
}

.socials-block__heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 18px;
}

.social-block__list {
  display: flex;
}

.social-block__link.whatsapp {
  background: url("../img/Whatsapp-Icon.png") center no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.social-block__link.telega {
  background: url("../img/Telegram_2019_Logo.png") center no-repeat;
  background-size: cover;
}

.social-block__link {
  width: 40px;
  height: 40px;
  display: block;
}

.contacts__apiya {
  filter: grayscale(1);
}

.contacts__label {
  position: relative;
  padding-top: 25px;
}

.js-validate-error-label {
  position: absolute;
  top: 5px;
  left: 25px;
}

.contacts__right {
  width: 63.7%;
}

#map {
  width: 100%;
  height: 100%;
}

/* popup */

.popup {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.popup-close {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup-body {
  display: flex;
  position: relative;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
}

.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.popup__left {
  max-width: 350px;
  flex-shrink: 0;
}

.popup__left img {
  max-width: 100%;
  height: 100%;
}

.popup__right {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  width: 55%;
  position: relative;
  background-color: #fff;
}

.popup__right-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 5px;
}

.popup__right-sp1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.popup__right-sp2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
  color: #969696;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.popup__right-desc {
  width: 100%;
  height: 110px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-right: 25px;
}

body.lock {
  overflow: hidden;
}

.popup__btn {
  background: url("../img/cross-red.png") center no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* footer */

.footer {
  height: 140px;
  background-color: #000;
}

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  background: url("../img/XGG.svg") center no-repeat transparent;
  background-size: cover;
  width: 173px;
  height: 40px;
}

.footer-social__list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__link.vk {
  background: url("../img/VK.svg") center no-repeat;
}

.footer-social__link.vk:hover {
  background: url("../img/Vkhov.svg") center no-repeat;
}

.footer-social__link.vk:active {
  background: url("../img/Vkact.svg") center no-repeat;
}

.footer-social__link.inst {
  background: url("../img/instagram.svg") center no-repeat;
}

.footer-social__link.inst:hover {
  background: url("../img/instagramHOV.svg") center no-repeat;
}

.footer-social__link.inst:active {
  background: url("../img/instagramACT.svg") center no-repeat;
}

.footer-social__link.fb {
  background: url("../img/fb.svg") center no-repeat;
}

.footer-social__link.fb:hover {
  background: url("../img/fbHOV.svg") center no-repeat;
}

.footer-social__link.fb:active {
  background: url("../img/fbACT.svg") center no-repeat;
}

.footer-social__link {
  display: block;
  background-size: cover;
  width: 45px;
  height: 45px;
}
